* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --white: #ffffff;

  --primary-main: #e58d12;
  --primary-dark: #663f08;
  --primary-light: #f2b155;

  --base-01: #fff5e5;
  --base-02: #f2e8da;
  --base-03: #d9d0c3;
  --base-04: #99938a;
  --base-05: #736e67;
  --base-06: #595650;
  --base-07: #403d39;
  --base-08: #33312e;
  --base-09: #262522;
  --base-10: #1a1817;

  font-family: "Noto Sans", sans-serif;
  --font-size-64: 64px;
  --font-size-48: 48px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
}

.header {
  margin: 40px 80px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: var(--font-medium);
  color: var(--base-08);
}

.header__logo__decorative1,
.header__logo__decorative2 {
  color: var(--primary-main);
}

.header__nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.header__nav__list-link,
.header__nav__mobile__list-link {
  font-size: 20px;
  font-weight: var(--font-medium);
  text-transform: uppercase;
  letter-spacing: calc(20px * 0.015);
  color: var(--base-07);
  transition: all ease-in 300ms;
}

.header__nav__list-link:hover {
  color: var(--primary-main);
}

.header__menu {
  display: none;
}

.header__nav__mobile {
  width: 100%;
  background-color: var(--base-01);
  padding: 64px 16px;
  transition: all ease-in 300ms;
  opacity: 0;
  visibility: hidden;
}

.header__nav__mobile--active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 868px) {
  .header {
    margin: 24px 40px 40px 40px;
  }

  .header__menu {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    display: block;
  }

  .header__menu > img {
    width: 100%;
    height: 100%;
  }

  .header__nav {
    display: none;
  }

  .header__nav__mobile .header__nav__list {
    flex-direction: column;
    justify-content: center;
  }

  .header__nav__mobile__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
